<!-- <form> -->
<div ngModelGroup="passwordForm">

  <div class="tw-mb-3 tw-hidden">

    <!--
    <label class="tw-mb-1" hlmLabel for="username">
      {{ translate()("common.username") }}
    </label>
    <input
      hlmInput
      class="tw-w-full"
      type="text"
      id="username"
      name="username"
      [placeholder]="translate()('common.username')"
      autocomplete="username"
      [disabled]="disabled()"
    />
    -->
    <app-basic-input
      [label]="translate()('common.username')"
      type="text"
      name="username"
      autocomplete="username"
      [disabled]="disabled()"
    />
  </div>

  <!-- Added -->
  @if (oldPasswordRequired()) {
    <div class="tw-relative tw-mb-3">
      <app-basic-input
        [label]="translate()('profile.password.currentPassword')"
        type="password"
        name="oldPassword"
        [disabled]="disabled()"
      />
    </div>
  }

  <!-- 
  <div class="tw-mb-3">
    <label class="tw-mb-1" hlmLabel for="new-password">
      {{ translate()("common.password") }}
    </label>
    <div class="tw-relative tw-flex tw-items-center">
      <input
        hlmInput
        class="tw-flex tw-rounded-md tw-border tw-font-normal tw-border-input tw-bg-transparent tw-text-base md:tw-text-sm tw-ring-offset-background file:tw-border-0 file:tw-text-foreground file:tw-bg-transparent file:tw-font-medium placeholder:tw-text-muted-foreground focus-visible:tw-outline-none focus-visible:tw-ring-2 focus-visible:tw-ring-ring focus-visible:tw-ring-offset-2 tw-w-full [&amp;.ng-invalid.ng-touched]:focus-visible:tw-ring-destructive [&amp;.ng-invalid.ng-touched]:tw-border-destructive [&amp;.ng-invalid.ng-touched]:tw-text-destructive file:max-md:tw-py-0 tw-px-4 tw-py-2"
        [type]="hidePassword() ? 'password' : 'text'"
        id="new-password"
        name="new-password"
        [(ngModel)]="password"
        autocomplete="new-password"
        [placeholder]="translate()('common.password')"
        [disabled]="disabled()"
      />
      <ng-icon
        hlm
        class="tw-absolute tw-right-3 tw-top-1/2 tw--translate-y-1/2"
        [ngClass]="{
          'tw-opacity-50': disabled(),
          'tw-cursor-pointer': !disabled(),
        }"
        [name]="hidePassword() ? 'lucideEyeOff' : 'lucideEye'"
        (click)="!disabled() && hidePassword.set(!hidePassword())"
        (keydown.enter)="!disabled() && hidePassword.set(!hidePassword())"
      />
  </div>
  <div class="tw-mb-3">
    <label class="tw-mb-1" hlmLabel for="repeat-new-password">
      {{ translate()("passwordReset.update.form.repeatPassword") }}
    </label>
      <div class="tw-relative tw-flex tw-items-center">
      <input
        hlmInput
        class="tw-flex tw-rounded-md tw-border tw-font-normal tw-border-input tw-bg-transparent tw-text-base md:tw-text-sm tw-ring-offset-background file:tw-border-0 file:tw-text-foreground file:tw-bg-transparent file:tw-font-medium placeholder:tw-text-muted-foreground focus-visible:tw-outline-none focus-visible:tw-ring-2 focus-visible:tw-ring-ring focus-visible:tw-ring-offset-2 tw-w-full [&amp;.ng-invalid.ng-touched]:focus-visible:tw-ring-destructive [&amp;.ng-invalid.ng-touched]:tw-border-destructive [&amp;.ng-invalid.ng-touched]:tw-text-destructive file:max-md:tw-py-0 tw-px-4 tw-py-2"
        [type]="hideRepeatedPassword() ? 'password' : 'text'"
        id="repeat-new-password"
        name="repeat-new-password"
        [(ngModel)]="repeatedPassword"
        autocomplete="new-password"
        [placeholder]="translate()('passwordReset.update.form.repeatPassword')"
        [disabled]="disabled()"
      />
      <ng-icon
        hlm
        class="tw-absolute tw-right-3 tw-top-1/2 tw--translate-y-1/2"
        [ngClass]="{
          'tw-opacity-50': disabled(),
          'tw-cursor-pointer': !disabled(),
        }"
        [name]="hideRepeatedPassword() ? 'lucideEyeOff' : 'lucideEye'"
        (click)="!disabled() && hideRepeatedPassword.set(!hideRepeatedPassword())"
        (keydown.enter)="
          !disabled() && hideRepeatedPassword.set(!hideRepeatedPassword())
        "
      />
    </div> 
  </div> 
  -->
  <div ngModelGroup="newPassword" #newPasswordGroup="ngModelGroup" password-validator>
    <div class="tw-relative tw-mb-3">
      <app-basic-input
        [label]="translate()('common.password')"
        type="password"
        name="password"
        [disabled]="disabled()"
      />
    </div>
    <div class="tw-relative tw-mb-3">
      <app-basic-input
        [label]="translate()('passwordReset.update.form.repeatPassword')"
        type="password"
        name="repeatedPassword"
        [disabled]="disabled()"
      />
    </div>
  </div>
<!-- </form> -->
</div>

<div>
  <h5 class="tw-text-sm tw-font-medium">
    {{ translate()("passwordReset.form.requirements.title") }}
  </h5>
  <ul>

    <!-- @for (c of passwordChecks().conditions; track $index) { -->
    @for (validator of validatorChecks; track validator[0]) {

      <!-- [ngClass]="c.value ? 'tw-text-green-600' : 'tw-text-red-600'" -->
      <li
        class="tw-flex tw-items-center tw-gap-2 tw-ml-2 tw-text-sm"
        [ngClass]="newPasswordGroup.errors?.[validator[0]] ? 'tw-text-red-600' : 'tw-text-green-600'"
      >

        <!-- <ng-icon [name]="c.value ? 'lucideCheck' : 'lucideX'" /> -->
        <ng-icon
          [name]="newPasswordGroup.errors?.[validator[0]] ? 'lucideX' : 'lucideCheck'"
        />

        <span>

          <!-- {{ translate()(c.label) }} -->
          {{ translate()(validator[1]) }}
          
        </span>
      </li>
    }
  </ul>
</div>
